table {
  width: 100%;
}

tr.description-row {
  height: 0;	
}

tr.project-row:not(.expanded-row):hover {
  background: #777;
}

tr.project-row:not(.expanded-row):active {
  background: #efefef;
}

.project-row td {
  border-bottom-width: 0;
}

.project-detail {
  overflow: hidden;
  display: flex;
}

.project-description {
  padding: 16px;
}

.square {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: grey;
}

.green {
  background: teal;
}

.amber {
  background: #FFBF00;
}

.red {
  background: red;
}

/* the following comes from my question in stack-overflow: https://stackoverflow.com/questions/54278026/style-mat-sort-header-sorted-has-no-effect-in-mat-table-tutorial/54288169#54288169
 * You also need to add '  encapsulation: ViewEncapsulation.None' to the @Component decorator
.mat-sort-header-sorted {
  color: red;
}

.mat-sort-header-arrow {
color: red;
}
*/