<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z4">

  <!-- STATUS column-->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header width ="1%"> Status </th>
    <td mat-cell *matCellDef="let project">
      <div class="square" [ngClass]="project.status"></div>
    </td>
  </ng-container>
  <!-- NAME column-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let project">
      {{project.name | titlecase}}
    </td>
  </ng-container>
  <!-- LOCATION column-->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
    <td mat-cell *matCellDef="let project">
      {{project.location | titlecase}}
    </td>
  </ng-container>
  <!-- DATE column-->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let project">
      {{project.date  | date: 'dd.M.yyyy'}}
    </td>
  </ng-container>


  <!-- 2nd set of cols: spans through all length, displays desc. Hidden(css) if not expanded -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let project" [attr.colspan]="displayedColumns.length">
      <div class="project-detail" [@detailExpand]="project == expandedElement ? 'expanded' : 'collapsed'">
        <p>
          <a routerLink="/tasks/{{project.id}}">View Tasks</a>
        </p>
        <div class="project-description">
          <span *ngIf="project.description">
            Description: {{project.description}}
          </span>
          <br>
          <span *ngIf="project.details">
            Details: {{project.details}}
          </span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Header -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- 1st set of rows: project (see DataSource). Clicking -> 'expanded' or not -->
  <tr mat-row *matRowDef="let project; columns: displayedColumns;" class="project-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === project ? null : project">
  </tr>
  <!-- 2nd set of rows: project (see DataSource). Size 0 (css) by default -->
  <tr mat-row *matRowDef="let project; columns: ['expandedDetail']" class="description-row"></tr>
</table>