<!-- STATUS drop-down -->
<mat-form-field>
  <mat-label>Select status</mat-label>
  <mat-select [(ngModel)]="statusFilter">
    <mat-option value="">(Any)</mat-option>
    <mat-option *ngFor="let status of uniqueStatus" value={{status}}>{{status}}</mat-option>
  </mat-select>
</mat-form-field>

<!-- LOCATION drop-down -->
<mat-form-field>
  <mat-label>Select location</mat-label>
  <mat-select [(ngModel)]="locationFilter">
    <mat-option value="">(Any)</mat-option>
    <mat-option *ngFor="let location of uniqueLocations" value={{location}}>{{location}}</mat-option>
  </mat-select>
</mat-form-field>

<!-- VOLUNTEERS drop-down -->
<mat-form-field>
  <!-- autocomplete without reactive forms, as explained here: https://stackoverflow.com/a/48508256/ -->
  <input type="text" placeholder="Select volunteer" matInput [(ngModel)]="volunteersFilter"
    (ngModelChange)="updateAutocompleteVolunteerModel()" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of displayedVolunteers" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>
</mat-form-field>

<!-- TEXT free text -->
<mat-form-field>
  <input matInput [(ngModel)]="textFilter" placeholder="Filter">
</mat-form-field>

<!-- DATE calendar picker -->
<mat-form-field>
  <mat-label>Choose start date</mat-label>
  <input matInput [(ngModel)]="dateFilter" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>