<h1>PROJECTS</h1>
<app-projects-filter
  (changedLocation)=locationFilter($event)
  (changedStatus)=statusFilter($event)
  (changedVolunteers)=volunteersFilter($event)
  (changedText)=textFilter($event)
  (changedDate)=dateFilter($event)
  [filteredProjects]="filteredProjects">
</app-projects-filter>

<br>
<mat-checkbox [(ngModel)]="isShowMapSelected">Show Map</mat-checkbox>
<div *ngIf="isShowMapSelected">
  <app-projects-map [filteredProjects]="filteredProjects" [doRefreshBounds]="doRefreshBounds"
    (changedBounds)=mapFilter($event)></app-projects-map>
</div>

<app-projects-table [filteredProjects]="filteredProjects"></app-projects-table>