<p-organizationChart [value]="tasksTreeNode" selectionMode="single" [(selection)]="selectedNode"
  (onNodeSelect)="onNodeSelect($event)" styleClass="tasksstyle">
  <ng-template let-node pTemplate="tasktype">
    <div class="node-header"
      [ngClass]="{'selectedText': node.data.isFilteredText,'selectedVolunteers': node.data.isFilteredVolunteers}">
      {{ node.label }}
    </div>
    <div class="node-content" *ngIf="node.data.details">
      <div>{{ node.data.details }}</div>
    </div>
  </ng-template>
</p-organizationChart>

<div *ngIf="selectedNode">
  <!-- NOTE: known bug here: closing with 'x' does not remove the selection from the last clicked node -->
  <p-dialog header={{selectedNode.label}} [(visible)]="display">
    <div *ngFor="let key of taskProps; index as i">
      {{ key }} : {{ taskValues[i] }}
    </div>
    <div *ngIf="projectDate">
      {{'date : ' }} {{ projectDate | date:'dd.MM.yyyy' }}
    </div>
    <span *ngFor="let item of volunteers">
      <img [src]="item.avatar" [title]="item.name" class="avatar">
    </span>
    <div *ngIf="taskRating >= 1">
      <span *ngFor="let item of ratingArray">
        <span *ngIf="item==1" class="star gold">&#x2605;</span>
        <span *ngIf="item==0" class="star grey">&#x2605;</span>
      </span>
    </div>
  </p-dialog>
</div>