/* NOTE: "ui-organizationchart" and "ui-organizationchart-node-content" are primeng styles */
.tasksstyle.ui-organizationchart .ui-organizationchart-node-content.ui-taskstyle {
  padding: 0;
  border: 0 none;
}

.selectedText {
  border-left: 15px solid !important;
  border-left-color: red !important;
}

.selectedVolunteers {
  border-right: 15px solid !important;
  border-right-color: orange !important;
}

.node-header,.node-content {
  max-width: 350px;
  padding: .5em .7em;
}

.node-header {
  background-color: #495ebb;
  color: #ffffff;
}

.node-content {
  text-align: center;
  border: 1px solid #495ebb;
}

.ui-taskstyle .ui-node-toggler {
  color: #8a0a39 !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ui-dialog {
  max-width: 50% !important;
}

.star {
  font-size: 40px;
}

.star.gold {
  color: gold;
}

.star.grey {
  color: grey;
}